/* 设置页面的整体布局和样式 */
body {
    margin: 0; /* 删除外边距 */
    padding: 0; /* 删除内边距 */
    height: 100vh; /* 设置高度100% */
    position: relative; /* 相对位置 */
    font-family: '微软雅黑', 'Helvetica Neue', sans-serif; /* 设置字体 */
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
/* 总容器 */
.container {
    height: 100vh; /* 设置高度100% */
    display: flex; /* 弹性盒模型 */
    justify-content: center; /* 水平方向，居中对齐子元素 */
    align-items: center; /* 垂直方向，居中对齐子元素 */
}
/* 定义登录表单的样式 */
#findPasswordForm {
    padding: 40px 30px; /* 设置内边距 */
    border: 1px solid rgba(255, 255, 255, 0.2); /* 设置边框样式 浅白色边框*/
    border-radius: 20px; /* 圆角边框 */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* 添加阴影 高级灰 */
    text-align: center; /* 文本居中 */
    backdrop-filter: blur(20px); /* 背景模糊效果 */
    -webkit-backdrop-filter: blur(20px); /* 为WebKit浏览器添加背景模糊 */
    opacity: 0; /* 初始透明度设置为0 */
    transform: translateY(20px); /* 初始位置向下偏移20px */
    transition: opacity 2s ease, transform 2s ease; /* 设置过渡效果 */
}
/* 定义表单显示状态的样式 */
#findPasswordForm.show {
    opacity: 1; /* 设置透明度为完全不透明 */
    transform: translateY(0); /* 位置复原 */
}
/* 设置欢迎图片的样式 */
#findPassword-image {
    margin: 0 auto 20px; /* 上下边距为0，水平居中，下边距20px */
    width: 80px; /* 图片宽度 */
    height: auto; /* 高度自动 */
    display: block; /* 设置为块级元素 */
}
/* 输入框容器样式，包含图标和输入框 */
.input-container {
    margin-bottom: 15px; /* 下边距 */
    display: flex; /* 启用弹性盒布局 */
    align-items: center; /* 垂直居中对齐 */
}
/* 输入框前图标的样式 */
.input-container img {
    width: 40px; /* 图标宽度 */
    height: 40px; /* 图标高度 */
    margin-right: 10px; /* 右边距 */
}
/* 定义输入框的样式 */
input {
    padding: 12px 15px; /* 输入框内边距 */
    margin-top: 8px; /* 上边距 */
    width: 80%; /* 输入框宽度为80% */
    border: none; /* 删除边框 */
    outline: none; /* 删除聚焦时的轮廓 */
    border-radius: 10px; /* 输入框圆角 */
    font-size: 14px; /* 字体大小 */
    color: #09244B; /* 设置字体颜色 */
    background: rgba(255, 255, 255, 0.2) !important; /* 鼠标悬停时背景色 */
}
/* 防止自动填充时样式被覆盖 */
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    -webkit-text-fill-color: #09244B;
    transition: background-color 1000s ease-in-out 0.5s;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #09244B; /* 设置字体颜色 */
    transition: background-color 5000s ease-in-out; /* 防止背景颜色变化 */
}
/* 设置输入框占位符的样式 */
input::placeholder {
    color: #09244B; /* 占位符字体颜色 */
    opacity: 0.8; /* 占位符透明度 */
}
/* 登录按钮的样式 */
#submitButton {
    width: 80%; /* 按钮宽度为80% */
    padding: 12px 15px; /* 按钮内边距 */
    margin-top: 8px; /* 上边距 */
    border: none; /* 删除边框 */
    border-radius: 10px; /* 按钮圆角 */
    color: #09244B; /* 设置字体颜色 */
    font-weight: bold; /* 字体加粗 */
    font-size: 18px; /* 字体大小 */
    background: rgba(255, 255, 255, 0.2); /* 鼠标悬停时背景色 */
    transition: 0.5s ease; /* 设置过渡效果 */
}
/* 鼠标悬停在登录按钮上时的样式 */
#submitButton:hover {
    background: rgba(255, 255, 255, 0.5); /* 鼠标悬停时背景色 */
}
/* 找回密码按钮的样式 */
#returnBackButton {
    width: 20%; /* 按钮宽度为20% */
    position: absolute; /* 设置绝对定位 */
    padding: 4px 5px; /* 按钮内边距 */
    margin-top: 8px; /* 上边距 */
    border: none; /* 删除边框 */
    border-radius: 10px; /* 按钮圆角 */
    background: rgba(255, 255, 255, 0.2); /* 设置背景颜色 */
    color: #09244B; /* 设置字体颜色 */
    font-size: 12px; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
    transition: 0.5s ease; /* 设置过渡效果 */
    bottom: 3%; /* 底部定位 */
    left: 11%; /* 左侧定位 */
}
/* 鼠标悬停在找回密码按钮上时的样式 */
#returnBackButton:hover {
    background: rgba(255, 255, 255, 0.5); /* 鼠标悬停时背景色 */
}
/* 为整个网页和常见的交互元素设置相同的鼠标指针 */
*{
    cursor: url('../SOURCEFILE/MOUSE/Zhand.cur'), auto !important;
}
/* 为不同状态下的元素（如输入框和按钮）也统一设置 */
input, textarea, button, a, select ,img{
    cursor: url('../SOURCEFILE/MOUSE/Zmidfinger.cur'), auto !important;
}
/* 针对元素的悬停状态 */
input:hover, textarea:hover, button:hover, a:hover ,img:hover{
    cursor: url('../SOURCEFILE/MOUSE/Zlink.cur'), auto !important;
}
/* 针对元素的激活状态 */
input:active, textarea:active, button:active, a:active {
    cursor: url('../SOURCEFILE/MOUSE/Zmidfinger.cur'), auto !important;
}
/* 针对输入框的聚焦状态 */
input:focus, textarea:focus {
    cursor: url('../SOURCEFILE/MOUSE/ZdotNS.cur'), auto !important;
}